/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Zen+Dots&display=swap');

/* Général */
*{
    margin: 0;
    font-family: "Montserrat", sans-serif;
    color: #fff;
}

a{
    text-decoration: none;
    color: #fff;
    transition: 0.3s ease-out;
}

a:hover{
    color: #FD307A;
    transition: 0.3s ease-out;
}

/* Section Header */

header{
    max-width: 1300px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

header nav ul{
    list-style: none;
    display: flex;
    gap: 40px;
}

/* Section 1 */

.section1{
    max-width: 1300px;
    margin: auto;
    padding: 20px;
}

.section-background{
    background-image: url('../img/background_section.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    margin: -100px 0;
}

.opacity{
    background-color: #00000042;
}

.section1 > article{
    padding-top: 40vh;
}

.section1 h1{
    font-family: "Zen Dots", sans-serif;
    font-size: 14px;
}

.section1 article h2{
    font-family: "Zen Dots", sans-serif;
    font-size: 100px;
}

.text{
    font-family: "Zen Dots", sans-serif;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-bottom: 80px;
    margin-top: 50px;
}

.text article{
    border: 1px solid #FFFFFF36;
    padding: 44px;
}

.text article h3{
    font-family: "Zen Dots", sans-serif;
    font-size: 25px;
}

.text article p{
    color: #FD307A;
}

/* Section 2 */

.section-background2{
    background-image: url('../img/background-section2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

.section2{
    max-width: 1300px;
    margin: auto;
    display: flex;
    align-items: center;
    padding-bottom: 100px;
    padding: 0 20px 100px 20px;
}

.section2 article h1{
    font-family: "Zen Dots", sans-serif;
    font-size: 14px;
    color: #A5B8D2;
    margin-bottom: 20px;
}
.section2 article h2{
    font-family: "Zen Dots", sans-serif;
    font-size: 55px;
    width: 80%;
    margin-bottom: 10%;
}

.section2 article p{
    font-size: 16px;
    width: 76%;
    margin-bottom: 10%;
    line-height: 1.5;
}

.section2 article a{
    text-transform: uppercase;
    font-size: 12px;
    border: solid 1px #fff;
    padding: 10px 20px;
}

/* Section 3 */

.section-background3{
    background-image: url('../img/background2-section3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

.section3{
    max-width: 1000px;
    margin: auto;
    padding-bottom: 100px;
}

.section3 article h1{
    font-family: "Zen Dots", sans-serif;
    font-size: 14px;
    color: #fff;
    margin-bottom: 20px;
}

.text-style h2{
    font-family: "Zen Dots", sans-serif;
    font-size: 55px;
    margin-bottom: 50px;
}

.section3 article{
    width: 92%;
    align-items: center;
}

.flex{
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px rgba(255, 255, 255, 0.21);
    align-items: center;
}

.flex h2{
    font-family: "Zen Dots", sans-serif;
    font-size: 37px;
    padding: 20px 0;
}

.section-color{
    background: #293445;
}

.section4{
    max-width: 1920px;
    margin: auto;
}

.text4{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
}

.text4 h2{
    font-size: 55px;
    font-family: "Zen Dots", sans-serif;
}

.text4 p{
    font-size: 12px;
    font-family: "Zen Dots", sans-serif;
}

.allProjects{
    display: flex;
    gap: 20px;
}

.grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.section4 img{
    width: 100%;
    object-fit: cover;
}

.background1{
    background-image: url('/img/image1-section4.jpg');
    background-size: cover;
    height: 100%;
}

.grid div article{
    padding: 30px;
    margin-top: 105%;
}

.grid div article h2{
    font-family: "Zen Dots", sans-serif;
    font-size: 14px;
    color: #FD307A;
}

.grid div article h3{
    font-family: "Zen Dots", sans-serif;
    font-size: 33px;
}

.grid div article p{
    width: 80%;
}

.background2{
    background-image: url('/img/image2-section4.jpg');
    background-size: cover;
    height: 100%;
}

.background3{
    background-image: url('/img/image3-section4.jpg');
    background-size: cover;
    height: 100%;
}

.background4{
    background-image: url('/img/image4-section4.jpg');
    background-size: cover;
    height: 100%;
}

/* Section Footer */

footer{
    background: #293445;
    padding: 80px 0;
}

footer div{
    max-width: 1300px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

footer p, footer a{
    color:#A5B8D2;
    line-height: 1.5rem;
}

footer ul{
    list-style: none;
    padding: 0;
    gap: 40px;
    line-height: 1.5rem;
}

footer h2, img{
    margin-bottom: 20px;
}